.form-v5-container {
  width: 100%;
  margin: 0 auto;
  background: url('../../assets/sign-bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-v5-content {
  background: #fff;
  width: 500px;
  border-radius: 8px;
  margin: 175px 0;
  color: #333;
  font-weight: 400;
  position: relative;
  font-size: 18px;
}
.form-v5-content .form-detail {
  padding: 30px 45px 30px 45px;
  position: relative;
}