.movie-info {
  margin-top: 16px;

  .movie-name {
    margin-bottom: 1rem;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: #393939;
  }

  .movie-media {
    display: flex;

    .movie-poster {
      width: 150px;
      margin-right: 1rem;

      img {
        max-width: 100%;
      }
    }

    .showtime-info {
      font-size: 14px;
      font-weight: bold;

      li {
        margin-bottom: 2.5px;
        align-items: center;
        display: flex;

        .icon--md {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}