.movie-list {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
}
.movie-list-item {
  margin-bottom: 8px;
  width: 16.666666666%;
  line-height: 22px;
  font-size: 16px;
  padding: 0 16px;
}
.movie-item {
  display: block;
  margin-bottom: 32px;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}
.movie-item-thumbnail {
  position: relative;
  padding-bottom: 150%;
  margin-bottom: 16px;
  border-radius: 2px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.movie-item-thumbnail .poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
